.App {
  text-align: center;
  background: #333333;
  width: auto;
  height: 1350px;
  font-family: Roboto;
  color:white;
  font-style: normal;
  font-weight: normal;
  font-size:16px;
}

.ModalH{
  font-size:20px;
  font-weight: bold;
}
.MyModal{
  position:absolute;
  width: 75%;
  font-family: Roboto;
    font-style: normal;
  font-weight: normal;
  font-size:16px;
}

.HeaderContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  top:2vh;
}

.bTable{
  color:white;
}


.Header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 120px;
  padding: 3px 3px 3px 3px;
  border: solid 1px;
}

.innerHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 660px;
  height: 100px;
  border: solid 1px;
}

.HText{
  width: 225px;
  height: 35px;
  font-size: 36px;
  line-height: 42px;
  vertical-align: middle;
  /*color: #FFFFFF;*/
}

.App-link {
  color: #09d3ac;
}

.Swoosh{

  height:110%;
    vertical-align: middle;
  padding-right:10px;
}

.OpenTableContainer{
  padding-top:1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}
.inner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 660px;
  height: 95%;
  min-height: 180px;
  border: solid 1px;
}

.MyTable{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  width: 680px;
  height: 100%;
  min-height: 200px;
  padding: 3px 3px 3px 3px;
  border: solid 1px;
}

button{
  border: solid white 1px;
  padding: 7px 10px;
  width:85px;
  color: white;
  background-color: Transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;


}
.question{
  clear: left;
  float:left;
  padding:4px;
   overflow: visible;
}

.Button1{
    display:flex;
    margin-left:-31px;
  padding:.5vh;
  align-items: left;
  justify-content: left;
  vertical-align: bottom;
     overflow: visible;
}
input {
  width: 20%;
}

input:hover{
    -webkit-box-shadow:inset 0px 0px 0px 1px black;
    -moz-box-shadow:inset 0px 0px 0px 1px black;
    box-shadow:inset 0px 0px 0px 1px black;
}

button:hover {
  color: grey;
}

input{
  border: none;
  color: black;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

a{
  padding:8px;
}

.Button{
  display:flex;
  padding:.5vh;
  align-items: left;
  justify-content: left;
  vertical-align: bottom;
}

.FormContainer{
  padding-top:2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ButtonContainer{
  display: inline;
  justify-content: left;
  align-items: left;
  width: 620px;
  height: 100%;
}

.SocialContainer{
  padding-top:7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Social{
  align-items: center;
  width: 680px;
  height: 100%;
}

